
btn{
    border-style:solid;
    padding:10px;
    border-width: 1px;
    margin-right:50px;
    

}
#calc{
    border-style:solid;
    display: flex;
    flex-wrap:wrap;
    width:480px;
    height:480px;
}
#mainDisplay{
    margin-top: 10px;
    border-style:solid;
    padding-right:400px;
}
.row{
    margin-top:50px;
    margin-left:50px;
}